<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
    <head>
        <meta charset="utf-8" />
        <title>Delete Person</title>
    </head>
    <body>
        <div class="modal-confirm" layout:fragment="layout-content">
            <div class="modal-confirm-content">
                <div class="row">
                    <div class="col-12">
                        <h5>Confirm</h5>
                        <hr/>
                        <p>Are you sure you want to delete this person?</p>
                        <form th:action="@{/people/{id}(id=${person.id})}" th:method="DELETE" up-layer="parent">
                            <button type="submit" class="btn btn-raised btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
