<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body layout:fragment="content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Age</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="person: ${people}">
            <td th:text="${person.firstName}">First</td>
            <td th:text="${person.lastName}">Last</td>
            <td th:text="${person.age}">Age</td>
            <td class="align-middle">
                <form th:action="@{/people/{id}(id=${person.id})}" th:method="DELETE">
                    <button type="submit" data-confirm="Are you sure?" class="btn btn-raised btn-danger btn-sm">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="fixed-bottom">
        <a href="#" th:href="@{/people/new}" class="float-right p-2">
            <button type="button" class="btn btn-primary bmd-btn-fab">
                <i class="material-icons">add</i>
            </button>
        </a>
    </div>
</body>
</html>
