<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div layout:fragment="layout-content">
            <div class="row justify-content-end">
                <div class="col-2 text-end">
                    <a href="#" th:href="@{/people/new}" class="btn btn-outline-primary" role="button"
                       up-follow up-transition="cross-fade">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        <span>Add Person</span>
                    </a>
                </div>
            </div>
            <div class="row mt-3">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Age</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="person: ${people}">
                            <td th:text="${person.firstName}">First</td>
                            <td th:text="${person.lastName}">Last</td>
                            <td th:text="${person.age}">Age</td>
                            <td class="text-end">
                                <a href="#" th:href="@{/people/{id}/delete/confirm(id=${person.id})}"
                                   class="btn btn-raised btn-danger btn-sm" role="button"
                                   up-layer="new" up-target=".modal-confirm" up-animation="fade-in">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                    <span>Delete</span>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </body>
</html>
