<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body layout:fragment="content">
    <div class="row">
        <div class="col-6">
            <h3>New Person</h3>
            <hr/>
            <form action="#" th:action="@{/people}" th:object="${person}" method="post">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating" for="firstName">First Name</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" id="firstName" th:field="*{firstName}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                </div>
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating" for="lastName">Last Name</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" id="lastName" th:field="*{lastName}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                </div>
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating" for="age">Age</label>
                    <input type="text" class="form-control" th:errorclass="is-invalid" id="age" th:field="*{age}">
                    <div class="invalid-feedback" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
                </div>
                <button type="submit" class="btn btn-outline-primary">Create</button>
            </form>
        </div>
    </div>
</body>
</html>
