<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <link th:href="@{/stylesheets/application.css}" rel="stylesheet" />
        <script th:src="@{/javascript/application.js}"></script>
        <title>Project Starter</title>
    </head>
    <body>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>Project Starter</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div th:if="${param.error}" class="alert alert-danger mt-1">
                                Invalid username and password
                            </div>
                            <div th:if="${param.logout}" class="alert alert-success mt-1" >
                                You have been logged out
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <form th:action="@{/login}" method="post" class="mt-2">
                                <div class="mb-3">
                                    <input id="username" name="username" type="text" class="form-control" placeholder="Username" autofocus />
                                </div>
                                <div class="mb-4">
                                    <input id="password" name="password" type="password" class="form-control" placeholder="Password" />
                                </div>
                                <button type="submit" class="btn btn-primary w-100">
                                    <span>Login</span>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>