<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <div class="layout-content" layout:fragment="layout-content">
            <h2>Resources</h2>
            <div class="row">
                <div class="col-6">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action"
                       href="swagger/ui.html" target="_blank" rel="noopener noreferrer">
                        <span>Swagger UI</span>
                    </a>
                    <a class="list-group-item list-group-item-action"
                       href="swagger/swagger.json" target="_blank" rel="noopener noreferrer">
                        <span>Swagger Specification</span>
                    </a>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
