// Customize Bootstrap Colors

//$primary: #25408f;
$primary: #2d3e44;
$secondary: #8f5325;
$success: #3e8d63;
$info: #13101c;
$warning: #945707;
$danger: #d62518;
$light: #f8f9fa;
$dark: #343a40;

$theme-colors: (
  primary: $primary,
  secondary: $secondary,
  success: $success,
  info: $info,
  warning: $warning,
  danger: $danger,
  light: $light,
  dark: $dark,
);

// Bootstrap and its default variables
@import "bootstrap/scss/bootstrap";

// Application Styles
body {
  min-height: 75rem;
  padding-top: 3.5rem;
}

.navbar {
  height: 3.5rem;
  padding-top: .1rem;
}

.navbar-brand {
  padding-left: .5rem;
}

.navbar-brand-label {
  padding-left: .5rem;
}

.navbar-nav {
  padding-right: 1rem;
}

/* Make the toggle icon white instead of gray */
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#sidebar {
  border-right: 1px solid #ccc;
}

#sidebar-nav {
  padding: .75rem
}

.sidebar-nav-item {
  width: 200px;
  border: none
}

.layout-content {
  padding-left: 2rem;
  padding-right: 2rem;
}

.fa-pad-right {
  padding-right: 5px;
}

.modal-confirm-content {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

up-modal[size=medium] up-modal-box {
  height: 200px;
}
